<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
 
  <!-- Any other stylesheets or scripts -->
</head>
<body>
  <!--HEADER SECTION START-->
  <header>
    <div id="menu-bar" class="fas fa-bars"></div>
    <a routerLink="/" class="logo"><span>I</span>nsurance</a>
    <nav class="navbar">
      <a routerLink="/main-header">Home</a>
      <a routerLink="#">Gallery</a>
      <a routerLink="/review">Review</a>
      <a routerLink="/contact">Contact Us</a>
      <!-- <a routerLink="/search">Search</a> -->
    </nav>
    <div class="icons">
      <!-- -->
      <!-- <a routerLink="search"><i class="fas fa-search" id="search-btn"></i> </a> -->
      <a routerLink="/login"><i class="fas fa-user" id="login-btn"></i></a>
      <!-- <a routerLink="/register"><i class="fas fa-user" id="search-btn"></i></a> -->
      <!-- <a routerLink="/"><i class="fas fa-user" id="log-out"></i></a> -->
      <!-- <a routerLink="/"><i class="fa fa-sign-out" aria-hidden="true"></i></a> -->
    </div>
  </header>
</body>
</html>